body{	
   -moz-user-select: none; /*FF*/
   -webkit-user-select: none;  /*webkit*/
   -ms-user-select: none;   /*IE10*/
   -khtml-user-select: none; /*Earlier*/
   user-select: none;
}

path.normal{
	stroke-width: 1;
	stroke: #000000;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}

path.thick_border{
	stroke-width: 10;
	stroke: #000000;
	stroke-linejoin: round;
	stroke-miterlimit: 10;	
}

path.pipe{
	fill: none;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}

polygon{
	stroke-width: 1;
	stroke: #000000;
	fill-rule: evenodd;
	clip-rule: evenodd;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}

line{
	stroke-width: 1;
	stroke: #000000;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}

rect{
	stroke-width: 1;
	stroke: #000000;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}

circle{
	stroke-width: 1;
	stroke: #000000;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}

text{
	stroke: none;
	font-family: sans-serif;
	text-align: center;
}

a{
	color: #000;
	text-decoration:none;
}

a:hover{
	color: #000;
	text-decoration:none;
}

.normal{
	stroke-width: 1;
}

.thick_border{
	stroke-width: 10;
}

.cyan_border{
	stroke: #0066FF;
}

.movable{
	cursor: move;
}

.frame{
	fill: none;
	stroke: #000;
	stroke-width: 1;
	stroke-dasharray: 10,10;
	opacity: 0;
}

.selFrame .frame{
	stroke-width: 2;
	stroke: red;
	opacity: 1;
}

.zoomFrame{
	fill: none;
	stroke: #F00;
	stroke-width: 2;
	stroke-dasharray: 10,10;
}

.brushing{
	fill: none;
	stroke-dasharray: 10,10;
	stroke-width: 2;
	stroke: red;
}

#canvas{
	margin-top:10px;
}

.drag{
	fill: #000;
	stroke: none;
}

.selFrame .frame.drag{
	fill: #F44;
	stroke: none;
}

.drag_upleft{
	cursor: nw-resize;
}

.drag_upright{
	cursor: ne-resize;
}

.drag_bottomleft{
	cursor: sw-resize;
}

.drag_bottomright{
	cursor: se-resize;
}